﻿@model IEnumerable<MvcIntro.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users List</h2>

<table>
    @if (Model.Count() > 0)
    {
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    }
    @if (Model.Count() == 0)
    {
        <tr>
            <th>
                No Users..... 
            </th>
        </tr> 
    }

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>

@if (Model.Count() > 0)
{
    <div>
        @Html.ActionLink("Delete All", "DeleteAll")
    </div>
}