﻿@model MvcIntro.Models.UserSearch

@{
    ViewBag.Title = "Search";
}

<h2>Search Users</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Search</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SearchQuery)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SearchQuery)
            @Html.ValidationMessageFor(model => model.SearchQuery)
        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

<table>
@if(Model.UserList.Count>0){
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>
    }
    @if (Model.UserList.Count == 0)
    {
        <tr>
            <th>
                No Matches..... 
            </th>
        </tr> 
    }
    @foreach (var item in Model.UserList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>
